.light-theme() {
  color: #444444;
  background: #edeff6;
  font-size: 16px;
  line-height: 22px;
}

.dark-theme() {
  color: #ffffff;
  background-color: #161c35;
  font-size: 16px;
  line-height: 22px;
}

.bottom-radius() {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
