.companions {
  .dark-theme();
  .bottom-radius();
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  position: relative;
}

.companions__wrapper {
  padding-top: 60px;
  margin-bottom: 60px;
}

.companions__title {
  margin: 0;
  margin-bottom: 25px;
}

.companions__description {
  margin: 0;
  margin-bottom: 25px;
}

.companions__slogan {
  font-weight: bold;
  margin: 0;
  margin-bottom: 60px;
}

.companions__list {
  .reset-list();
  display: flex;
  flex-direction: column;
}

.companions__profile {
  width: 270px;
  display: flex;
  flex-direction: column;
  color: #444444;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
}

.companions__user-name {
  margin: 0;
}

.companions__user-link {
  color: #1d2e5b;
}

.companions__photo {
  order: -1;
}

.companions__visit-list {
  .reset-list();
}

.companions__all {
  margin-top: 27px;
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .companions {
    padding: 0 40px;
  }

  .companions__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 142px;
    padding-right: 35px;
    padding-left: 35px;
  }

  .companions__title {
    margin-bottom: 60px;
  }

  .companions__description {
    width: 430px;
    margin-bottom: 40px;
  }

  .companions__slogan {
    width: 258px;
    font-size: 21px;
    line-height: 25px;
  }

  .companions__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 35px;
    margin-left: 35px;
  }

  .companions__profile {
    width: 285px;
    border-radius: 16px;
  }

  .companions__all {
    margin-top: 80px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 88px;
  }
}

@media (min-width: @desktop-width) {
  .companions {
    padding: 0 60px;
    flex-direction: row;
    justify-content: space-between;
  }

  .companions__wrapper {
    width: 630px;
    padding-right: 70px;
    padding-left: 70px;
  }

  .companions__title {
    margin-bottom: 60px;
  }

  .companions__list {
    width: 630px;
    margin-top: 133px;
    margin-right: 0;
    margin-bottom: 133px;
    margin-left: 0;
  }

  .companions__all {
    position: absolute;
    width: 274px;
    top: 300px;
    left: 30px;
  }
}
