.main-nav {
  text-transform: uppercase;
  font-weight: bold;
}

.main-nav__toggle {
  font-size: 0;
  width: 30px;
  height: 30px;
  background-image: url("../img/menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
}

.main-nav__wrapper {
  color: #192144;
  background-color: #ffffff;
}

.main-nav .main-nav__page-list {
  margin-bottom: 53px;
}

.main-nav__user-list {
  display: flex;
  flex-direction: column;
}

.main-nav__user-login {
  display: flex;
  margin-bottom: 50px;
}

.main-nav__user-item {
  display: flex;
}

.main-nav__phone,
.main-nav__email {
  display: block;
  font-size: 0;
  width: 46px;
  height: 46px;
  margin-bottom: 10px;
  background-color: #ffd74b;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.main-nav__phone {
  background-image: url("../img/contacts-phone.svg");
  background-size: auto 21px;
}

.main-nav__email {
  background-image: url("../img/contacts-mail.svg");
  background-size: auto 13px;
}

.main-nav__phone-link,
.main-nav__email-link {
  align-self: center;
  font-size: 16px;
  line-height: 22px;
  color: #192144;
  margin-left: 15px;
}

.main-nav .main-nav__user-list {
  margin-bottom: 30px;
}
