.main-nav {
  display: flex;
  flex-direction: column;
  background-color: yellow;
}


.main-nav .main-nav__page-list {
  margin-right: 25px;
  margin-top: 57px;
  margin-bottom: 50px;
  margin-left: 25px;
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    justify-content: flex-start;
  }

  .main-nav__wrapper {
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
  }

  .main-nav__toggle {
    align-self: center;
    width: 60px;
    height: 2px;
    padding: 0;
    background: #ffffff;
    margin-right: 45px;
  }

  .main-nav__page-list {
    width: 630px;
  }

  .main-nav__user-list {
    width: 300px;
    margin-left: auto;
  }

  .main-nav__wrapper .main-nav__social {
    display: none;
  }
}
