.page-header {
  position: relative;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #161c36;
}

.page-header__logo {
  position: absolute;
  background: red;
  width: 100px;
  height: 19px;
  top: 27px;
  left: 25px;
  z-index: 2;
}

.logo__image {
  width: 100px;
  height: 19px;
}

@media (min-width: @tablet-width) {
  .page-header {
    min-height: 100px;
    background-color: #182044;
    padding-top: 40px;
  }

  .page-header__logo {
    width: 166px;
    height: 42px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    min-height: 100px;
    background-color: #161c34;
    padding-top: 47px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .page-header__logo {
    width: 200px;
    height: 52px;
    margin-right: 40px;
  }

  .page-header__main-nav {
    flex-grow: 1;
  }
}
