.user-list {
  position: relative;
  .reset-list();

  font-size: 0;
  display: flex;
  align-items: flex-start;
}

.user-list__link {
  display: flex;
  align-items: center;
}

.user-list__item-icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;

  &--phone {
    background-color: #ff8d30;
    background-image: url("../img/topmenu-phone.svg");
    background-size: auto 18px;
  }

  &--email {
    background-color: #ffbd30;
    background-image: url("../img/topmenu-mail.svg");
    background-size: auto 15px;
  }
}

.user-list__login {
  display: flex;
  justify-content: center;
  width: 190px;
  padding-top: 6px;
  padding-bottom: 4px;
}

.page-header--opened .user-list {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}

.page-header--opened .user-list__link {
  font-size: 16px;
  line-height: 22px;
  color: #192144;
}

.page-header--opened .user-list__item-icon {
  width: 46px;
  height: 46px;
  font-size: 0;
  background-color: #121936;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-right: 14px;

  &--phone {
    background-image: url("../img/contacts-phone.svg");
    background-size: auto 21px;
  }

  &--email {
    background-image: url("../img/contacts-mail.svg");
    background-size: auto 13px;
  }
}


@media (min-width: @tablet-width) {
  .user-list__login {
    padding-top: 14px;
    padding-bottom: 9px;
  }
}

@media (min-width: @desktop-width) {
  .user-list {
    flex-direction: row;
    justify-content: flex-end;
  }

  .user-list__login {
    position: static;
  }
}
