.user-list {
  .reset-list();
  display: flex;
  flex-direction: column;
  margin-top: 49px;
  margin-bottom: 50px;
}

.user-list__item {
  display: flex;
}

.user-list__login {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .user-list__login {
    width: 188px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .user-list {
    flex-direction: row;
    justify-content: flex-end;
  }

  .user-list__login {
    position: static;
  }
}
